@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --Playfair: 'Playfair Display', serif;
  --Quicksand: 'Quicksand', sans-serif;
  --Poppins:'Poppins', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --background: #E5E5E5;
  --headline: #150435;
  --paragraph: #150435;
  --button: #6832D4;
  --buttonText: #FFCC17;
  --highlight:  #FFCC17;
  --secondary: #FFCC17;
  --text: #150435;
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--Roboto);
   
}

#spacer{
  margin: 2rem 1rem;
}

.spacer{
  margin: 2rem 0;
}


a {
  color: var(--buttonText);
  text-decoration: none;
}

a:hover {
  color: var(--buttonText);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family:var(--Quicksand);
  text-transform: uppercase;
    color:var(--headline)
    
}
 .btn {
    transition: .5s ease;
    text-transform: capitalize;
  }
  
  .btn.btn-a, .btn.btn-b {
    border-radius: 15px;
    padding: 5px 10px;
    letter-spacing: .05rem;
    text-transform: capitalize;
  }
  
  .btn.btn-a {
    color: var(--buttonText);
    background-color: var(--button);
  }
  
  .btn.btn-a:hover {
    background-color: var(--highlight);
    color: var(--buttonText);
  } 

/* header */
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */

  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navbar-brand img{
    height: 50px!important;
    width: 250px!important;
  
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    background: var(--button);
    color: var(--buttonText);
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i {
    font-size: 20px;
  }
  
  .nav-menu a span {
    padding: 0 5px 0 7px;
    color: var(--buttonText);
  }
  
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px;

    }
    .nav-menu a span {
      display: none;
      color: var(--buttonText);
      background-color: transparent;

    }
    .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
      color: var(--buttonText);
      background: transparent;
    }
    
    .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
      color: var(--buttonText);
    }
  }
  
  @media (max-width: 992px) {
    .nav-menu a {
      width: 50px;
      background-color: transparent!important;

    }
    
    .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
      color: var(--buttonText);
      background: transparent!important;
    }
    
    
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: var(--buttonText);
    background:transparent!important;
  }
  
  .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
    color: var(--buttonText);
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: var(--buttonText);
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: transparent;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: var(--card);
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: var(--highlight);
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("images/analog.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }
  
  @media (min-width: 992px) {
    #hero {
      padding-left: 150px;
    }
  }
  
  #hero:before {
    content: "";
    background:  rgba(143, 100, 92, 0.5) ;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color:var(--headline);
    letter-spacing: 4px;
  }
  
  #hero p {
    color: var(--paragraph);
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: var(--button);
    letter-spacing: 1px;
  }
  
  #hero .social-links {
    margin-top: 30px;
    color: var(--buttonText);
   
  
  }
  
  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: var(--buttonText);
    line-height: 1;
    margin-right: 20px;
    transition: 0.5s;
  }
  
  #hero .social-links a:hover {
    color: var(--buttonText)!important;
    background-color: var(--button)!important;

  }
  
  @media (max-width: 992px) {
    #hero {
      text-align: center;
    }
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }
    #hero p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
    .col-sm-12{
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  
  #details{

      background-color: var(--background);
      
  }

  .education_section{
      padding: 20px 0;

  }
  
  .lead{
      color: var(--secondary);
  }



  .details{
    margin-top: -10px!important;
    padding: 15px 0px;
  
  }

  .img-responsive {
    width: auto;
    height: 150px;
    margin-bottom: 15px;
}
  .prog{
    margin: 50px 0px;
  }

  .experience{
    margin-top: 50px;
    background-color: #e4f2f8;
    padding: 20px 0px;
  }

  .lead{
    font-size: 1rem;
  }
  .course{
    font-size: .8rem;
  }
  .period{
    font-size: .8rem;
  }
  .footer{
   padding-bottom:15px ;
    
}


.fa{
    color: var(--buttontext);
    font-size: 18px;
    padding-left: 5px;
}
.fa:hover{
    color: var(--buttonText);
}
.call-to-action{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  margin-bottom: 30px ;
  
}
.call-to-action:hover{
  background-color: none;
  
}


/* footer */
#footer {
  background: var(--background);
  color: var(--paragraph);
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--button);
  color: var(--buttonText);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background:var(--highlight);
  color: var(--buttonText);
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

/* end of footer */




/*---Media Queries --*/

@media (max-width: 767px) {

    .container {
      max-width: 100%!important;
      overflow-x: hidden!important;
      padding-right: 15px;
      padding-left: 15px;
  
    }
    .container-fluid {
      max-width: 100%!important;
      overflow-x: hidden!important;
      padding-right: 15px;
      padding-left: 15px;
  
    }
  
    body{
      overflow-x: hidden!important;
    
    }
    
    .navbar-brand img{
      height: 3.5rem!important;
      width: 13rem!important;;
    
    }
    #details{
        background-color: var(--highlight);
        
    }
    .details{
      margin-top: -10px!important;
      padding: 15px 0px;
    }

    
    .title2{
        margin: 5px 0px;
    }

    .third_child {
      display: none!important;
    }
  
  
    
  }
